{% extends 'base.html' %}

{% load custom_tags %}
{% load static %}


{% block title %}Feed|OSAC{% endblock title %}

{% block content %}


{% for post in posts %}
{{post.user}} posted <small>{{post.date}}, {{post.time}}</small><br><br>
{{post.body}} <br><br>
Tags:<br>
{{post.tag0}},{{post.tag1}}<br><br>
<div id="buttons">
<strong class="vote-count-{{post.id}}">{% votes post %}</strong> Votes, {{post.comments}} comments</strong> <br>
<input type="button" class="upvote-click" data-token={{csrf_token}} data-id="{{post.id}}" value="{% has_upvoted post user%}" />
<input type="button" class="downvote-click" data-token={{csrf_token}} data-id="{{post.id}}" value = "{% has_downvoted post user%}" />  
<a href={% url 'detail' post.id %}>Comment</a> <br><br><br>

{% include "comment.html" with post=post %}

{% comment %} {% block comment %}{% endblock comment %} {% endcomment %}
<hr>
</div>
{% endfor %}<br>

<a href= {% url 'post_create' %}>Add a post</a>
{% endblock content %}
{% block script %}
<script src="{% static 'voting.js' %}">
</script>
{% endblock script %}

