{% extends 'base.html' %}

{% load custom_tags %}
{% load static %}


{% block title %}Feed|OSAC{% endblock title %}

{% block content %}


{% for post in posts %}
{{post.body}}
<div id="buttons">
<input type="button" class="upvote-click" data-id="{{post.id}}" value="{% has_upvoted post user%}" />
<strong class="vote-count-{{post.id}}">{% votes post %}</strong>
<input type="button" class="downvote-click" data-id="{{post.id}}" value = "{% has_downvoted post user%}" /> <br><br><br>
</div>
{% endfor %}<br>

<a href= {% url 'post_create' %}>Add a post</a>


<script>
    
    $(document).ready(function(){
        $('.downvote-click').click(function(){
            var post_id = $(this).data('id');  
                      
            $.ajax({
                url: "/downvote/",
                type: "POST",
                data: {
                    'post_id': post_id,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success:function(res){
                    //have to enhance this part, so that the vote it checks if the 
                    //user has already voted and then changes the value of the button
                    var _vote_count=$(".vote-count-"+post_id).text();
                    if(res.bool==true){
                        $(".vote-count-"+post_id).text(parseInt(_vote_count)-1);
                        if($(".downvote-click[data-id="+post_id+"]").val()=="Downvote"){
                            $(".downvote-click[data-id="+post_id+"]").val("Downvoted");
                            if($(".upvote-click[data-id="+post_id+"]").val()=="Upvoted"){
                                $(".upvote-click[data-id="+post_id+"]").val("Upvote");
                            }
                        }
                        else{
                            $(".downvote-click[data-id="+post_id+"]").val("Downvote");
                        }
                    }
                }
            });

        });

        $('.upvote-click').click(function(){
            var post_id = $(this).data('id');
            $.ajax({
                url: "/upvote/",
                type: "POST",
                data: {
                    'post_id': post_id,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success:function(res){
                    var _vote_count=$(".vote-count-"+post_id).text();
                    if(res.bool==true){
                        $(".vote-count-"+post_id).text(parseInt(_vote_count)+1);
                        if($(".upvote-click[data-id="+post_id+"]").val()=="Upvote"){
                            $(".upvote-click[data-id="+post_id+"]").val("Upvoted");
                            if($(".downvote-click[data-id="+post_id+"]").val()=="Downvoted"){
                                $(".downvote-click[data-id="+post_id+"]").val("Downvote");
                            }
                        }
                        else{
                            $(".upvote-click[data-id="+post_id+"]").val("Upvote");
                        }
                    }
                }
            });

        });
    });    
</script>


{% endblock content %}